<div>
	<div class="page-title">
		<h3>Resumo da Compra</h3>
	</div>

	<div class="row" ng-init="valorTotal()">
		<div class="col-md-12">
			<div class="x_panel">
				<div class="x_content">
					<!-- start products list -->
					<div>
					  <ul>
					    <li ng-repeat="dados in resumeList">
					      <h5>Nome: {{dados.title}}</h5>
					      <h5>Valor: R$ {{dados.unit_price}}</h5>
					    </li>
					  </ul>
					</div>
					
					<h3>Valor Total: {{valorFinal}}</h3>
					<!-- end products list -->
					
					<button type="button" class="btn btn-primary" ng-click="submit()">Confirmar a Compra</button>
					
				</div>
			</div>
		</div>
	</div>
	
</div>
